body,li,a{
	text-decoration: none;
	list-style-type: none;
	font-family:sans-serif;
	font-size: 14pt;
	color: white;
}
#wrapper{
	height: 284px;
	background-color: #234465;
}
div > h3{
	color:#FF9C00;
	text-transform: uppercase;
	font-size:0.8rem;
	font-weight: bold;
}
div ul{
	padding: 0;
	margin-top: 0;
}
div ul li a{
	font-size:0.8rem;
}
div ul li a:hover{
	cursor: pointer;
	color:#FF9C00;
}
#buttons{
	width: 190px;
	height: 128px;
	box-sizing:border-box;
	padding: 0 15px 0 15px;
	float: left;
	position: relative;
	top:47px;
	left:105px;
}
#buttons > a{
	border: 2px solid #FF9C00;
	display: block;
	font-size: 0.8rem;
	text-align: center;
	width: 156px;
	height: 20px;
	padding: 10px 0;
	margin-top: 10px;
	line-height: 20px;
}
#buttons > a:hover{
	cursor: pointer;
	background-color: #FF9C00;
	transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}
#about{
	width: 190px;
	height: 223px;
	float:left;
	position: relative;
	padding-top: 10px;
	margin-top: 0;
	padding: 0 15px 0 15px;
	top:42px;
	left:103px;
}
#friends{
	width: 190px;
	height: 103px;
	float:left;
	position: relative;
	padding-top: 10px;
	margin-top: 0;
	padding: 0 15px 0 15px;
	top:42px;
	left:80px;
}
#social-buttons{
	width: 285px;
	height: 158px;
	float:left;
	position: relative;
	padding-top: 10px;
	margin-top: 0;
	padding: 0 15px 0 15px;
	top:42px;
	left:34px ;
}
#social-buttons a{
	padding-right: 7px;
}
#social-buttons li{
	display: inline-block;
}
#social-buttons a:hover{
	opacity: 0.5;
}
span{
	font-size: 0.8rem;
}
#facebook{
	position: relative;
	top:30px;
	left:60px;
}