body{
	background-color: #FFC0CB;
}
header{
	font-family: tahoma;
	font-size: 12pt;
	text-align: center;
}
section{
	margin-left: 98px;
}
#left{
	float: left;
}
#medium{
	
	float: left;
	padding-top: 15px;
}
#right{
	margin-left: 40px;
	float: left;
	padding-top: 15px;
	margin:auto:
}
span,figcaption{
	font-size: 14pt;
	font-family: tahoma;
}
meter{
	width: 200px;
	margin-left: 39px;
}
#progress{
	margin-left: 39px;
}
#audio{
background-color:black;
width:300px;
height:109px;
padding-top:40px;
margin-bottom:-13px
}